body{
    background: linear-gradient(71deg, #00fffa, #ffffff, #00fffa, #ffffff);
    background-size: 800% 800%;
    animation: bgerak 19s ease infinite;
    font-family: sans-serif;
}

.me img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding: 60px;

}

.content {
    grid-area: content;
}

.sidebar{
    grid-area: sidebar;
    justify-content: center;
}

.footer{
    grid-area: footer;

}

.container{
    display: grid;
    grid-template-areas: 
        "sidebar"
        "content"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 13px 800px 250px;

}

.content,
.sidebar,
.footer{
    padding: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: left;
    text-align: center;
    padding: 10px;
    
    
}

nav li{
    list-style: none;
    padding: 1em 0;
    margin-right: 50px;

}
nav li a {
    color:grey;
    font-weight: 700;
    opacity: 0.6;
    text-decoration: none;
    transition: 0.3s;
}

nav li a:hover{
    opacity: 1;
}

.me{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.me img {
    width: 200px;
}

footer ul{
    max-width: 640px;
    margin : 2em auto;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
}

footer ul li{
    list-style: none;
    align-self: flex-end
}

footer ul li a {
    text-decoration: none;
}

footer ul li img{
    height: 50px;
    width: 50px;
    align-items: center;
    margin-right: 50px;
    margin-left: 100px;
    display: flex;
    
}

.icon{
    font-size: 10%;
    text-decoration: none;
}

.me-desc{
    color: grey;
}
@keyframes bgerak { 
    0%{background-position:0% 53%}
    50%{background-position:100% 48%}
    100%{background-position:0% 53%}
}