<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Portofolio</title>
    <link rel="stylesheet" href="{% static 'portofolio.css' %}"> 
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="/">Profile</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/portofolio">Portofolio</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <h1>Portofolio</h1>
        <img src="https://i.postimg.cc/52FpS2dS/ok.png" alt="SS">
        <p>Website Profile</p>
    </div>
    <footer>
            <ul>
                <li><a href="https://www.facebook.com/leonardo.ignatius.5"><img src="https://i.postimg.cc/1z42QHDy/facebook.png" alt="fb"></a></li>
                <li><a href="https://id.linkedin.com/in/leonardo-ignatius-4bba20184"><img src="https://i.postimg.cc/3Rfww9c9/linkedin.png" alt="li"></a></li>
                <li><a href="https://www.instagram.com/leonardoignatius/?hl=en"><img src="https://i.postimg.cc/s2hFWmxw/instagram-1.png" alt="ig"></a></li>
            </ul>
        </footer>
    </div>

    <div class="icon">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div class="icon">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
<div class="icon">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>

</body>
</html>