<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Resume</title>
    <link rel="stylesheet" href="{% static 'resume.css' %}">
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="/">Profile</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/portofolio">Portofolio</a></li>
            </ul>
        </nav>
    </div>
    <div class="text"><h1>Latar Belakang Pendidikan</h1><li>Bina Nusantara University (Teknik Informatika) (2019 - Present)</li> <li>SMAK Penabur Gading Serpongg (2016 - 2019)</li> <li> SMPK Penabur Gading Serpong (2013 - 2016)</li> <li>SDK Penabur Gading Serpong (2007 - 2013)</li></div>
    <div class="text"><h1>Pengalaman Pekerjaan</h1><li>Part Time Marketing Team (Promotion Team) Binus University (2019 - Present)</li></div>
    <div class="text"><h1>Kepanitiaan</h1><li>Panitia Education Fair Penabur Gading Serpong 2017</li> <li>Panitia Multimedia Creativity Art Night 2019 Penabur Gading Serpong</li></div>
    <div class="text"><h1>Progamming Language</h1><li>Python</li> <li>Java</li> <li>HTML</li> <li>CSS</li> </div>
    <div class="text"><h1>Framework</h1> <li>Django Framework (Ongoing)</li></div>
    <div class="footer">
            <footer>
                <ul>
                    <li><a href="https://www.facebook.com/leonardo.ignatius.5"><img src="https://i.postimg.cc/1z42QHDy/facebook.png" alt="fb"></a></li>
                    <li><a href="https://id.linkedin.com/in/leonardo-ignatius-4bba20184"><img src="https://i.postimg.cc/3Rfww9c9/linkedin.png" alt="li"></a></li>
                    <li><a href="https://www.instagram.com/leonardoignatius/?hl=en"><img src="https://i.postimg.cc/s2hFWmxw/instagram-1.png" alt="ig"></a></li>
                </ul>
            </footer>
        </div>

        <div class="icon">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"             title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"             title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div class="icon">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    <div class="icon">Icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel perfect</a> from <a href="https://www.flaticon.com/"                 title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"                 title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</body>
</html>